/*
#XfcePanelWindow {
    border-radius: 10px; /* Adjust the radius to your preference */
    /*background-color: #1e1e2e;*/ /* Background color with opacity */
    /*
    /*border: 2px solid #6e6e6e;*/ /* Optional: Add a border */
    /*padding: 2px; *//* Optional: Add some padding */
    /*margin: 3px;*/ /* Optional: Add margin around the panel */
}
/*
.xfce4-panel .background {
	background-color: #1e1e2e;
}

.xfce4-panel .tasklist .toggle :checked {
  border-radius: 10px;
}
 
.tasklist button:checked {
  border-bottom: 3px solid white;
}
*/
/* 
.flat,
.toggle {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 16px;
  padding: 4px;
}
.flat:hover,
.toggle:hover {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 16px;
  padding: 4px;
}
*/
/*
.flat:checked,
.toggle:checked {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 16px;
  border-bottom: 3px solid #b4befe 	;
  padding: 4px;
}
*/
/*
#whsikermenu-button label {
	color: white;
	font-family: 'JetBrainsMono Nerd Font';
}
*/
